body {
    width: fit-content;
    font-family: Georgia;
}

#sessions {
    margin-bottom: 20px;
    display: flex;
}



#image {
    padding: 50px;
    min-width: 500px;
    margin-bottom: 20px;
}

#frame {
    border-radius: 5px;
    box-shadow: 0 20px 68px rgb(0 0 0 / 55%);
}

#top {
    padding: 10px;
}

.config-frame {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
}

input[type=checkbox] {
    width: 10px;
    margin-left: -10px;
}

label {
    float: left;
    height: 36px;
    line-height: 36px;
    width: 30%;
}

select {
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
}

button {
    margin-right: 20px;
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

#export-button {
    border: 1px solid #198754;
    background-color: #198754;
}
#export-button:hover {
    background-color: #157347;
    border-color: #146c43;
}

#to-default {
    border: 1px solid #871919;
    background-color: #871919;
}
#to-default:hover {
    background-color: #731515;
    border-color: #6c1414;
}

#add-session {
    border: 1px solid #198787;
    background-color: #198787;
}
#add-session:hover {
    background-color: #1c7a7a;
    border-color: #217575;
}

#session-nominator {
    width: 167px;
}

.info-frame {
    padding: 20px;
}

.info {
    margin: 20px;
    background-color: #96d7ce;
    border-radius: 5px;
    padding: 20px;

}